.header__one {
    width: 100%;
    height: 100%;
    padding: 50px 15px;
    border: 5px solid hotpink;
    background-color: hotpink;
    margin-left:auto;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;

    
}
.main__part{
    margin: auto;

}
.sidebar{
        height: 100%; /* Полная высота: удалите это, если вы хотите "авто" высота */
        width: 160px; /* Установите ширину боковой панели */
        position: fixed; /* Фиксированная боковая панель (оставайтесь на месте при прокрутке) */
        z-index: 1; /* Оставайтесь с верху */
        top: 0; /* Оставайтесь на вершине */
        left: 0;
        background-color: #3b3939; 
        padding-top: 20px;
        margin-top: 170px;
}
.content{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 208, 0);
    margin-left: 150px;
    margin-top: 170px;
    margin-right: auto;
    margin-bottom: auto;
    position: relative;
}
